Repository portfolio-insights/portfolio-insights-backend: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format, backend/.venv/bin/black

fix: refactor .env.docker generation in backend deployment workflow to fix workflow errors
  .github/workflows/backend.yaml
Due: npm run format

fix: replace localhost with actual database host in backend deployment workflow
  .github/workflows/backend.yaml
Due: npm run format

docs: clarify comments for CORS_ORIGINS value
  .env.example
Due: none

chore: set each script to exit if error is encountered
  scripts/docker-deploy.sh
  scripts/docker-teardown.sh
  scripts/local-dev-setup.sh
Due: none

minor: change name of CORS_ORIGINS GitHub repository variable to FRONTEND_URL
  .github/workflows/backend.yaml
Due: npm run format

chore: add custom error message to scripts
  scripts/docker-deploy.sh
  scripts/docker-teardown.sh
  scripts/local-dev-setup.sh
Due: none

feat: add user ID parameter to /alerts route handlers
  server.py
Due: backend/.venv/bin/black

fix: fix filepath to black executable
  .lintstagedrc
Due: none

feat: implement use of user id in alerts search functionality
  alerts.py
Due: backend/.venv/bin/black

chore: save SQL queries for creating tables used by backend
  sql/create_alerts_table.sql
  sql/create_users_table.sql
Due: none

docs: include user id in alerts fetch log
  alerts.py
Due: backend/.venv/bin/black

refactor: implement use of user_id in alert creation endpoint and logic via Alert pydantic model
  alerts.py
  schemas.py
  server.py
Due: backend/.venv/bin/black

docs: add logging to alert creation logic
  alerts.py
Due: backend/.venv/bin/black

docs: add logging to alert deletion logging
  alerts.py
Due: backend/.venv/bin/black

docs: add logging to alert trigger logic
  alerts.py
Due: backend/.venv/bin/black

chore: create .infra folder with instructions and files for EC2 instance setup
  .infra/SETUP.md
  .infra/nginx_portfolio-insights.conf
  .infra/user_data.sh
Due: npm run format

minor: fix GitHub repo name in git pull command
  .infra/SETUP.md
Due: npm run format

chore: add command to automatically restart nginx on system reboot
  .infra/SETUP.md
  .infra/user_data.sh
Due: npm run format

chore: write up queries to add dummy data to alerts and users tables for testing purposes
  sql/populate_alerts_table.sql
  sql/populate_users_table.sql
Due: none

chore: implement more rigorous cleanup of Docker environment during deployment
  scripts/docker-deploy.sh
Due: none

Path conditions:
  npm run format: any of: **/*.{js,jsx,html,css,json,md,yaml,toml}
  backend/.venv/bin/black: any of: **/*.py
