Repository portfolio-insights/portfolio-insights-backend: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format, .venv/bin/black

minor: remove unnecessary import of Optional from typing library
  src/users.py
Due: .venv/bin/black

doc: create README.md
  README.md
Due: npm run format

fix: fix data serialization and conversion issues to fix user registration implementation
  src/schemas.py
  src/server.py
  src/users.py
Due: .venv/bin/black

feat: tie newly created alert with associated user_id
  src/alerts.py
  src/schemas.py
  src/server.py
Due: .venv/bin/black

fix: implement extraction of JWT from request authorization headers
  src/users.py
Due: .venv/bin/black

fix: update verify_credentials return type to match register_user return type to fix login feature
  src/users.py
Due: .venv/bin/black

chore: replace arbitrary dummy users with single guest account in users table setup
  .infra/EC2_RDS_SETUP.md
  sql/populate_users_table.sql
Due: npm run format

feat: add and use guest account to table population queries
  sql/populate_alerts_table.sql
  sql/populate_users_table.sql
Due: none

fix: change guest user id to 1, a truthy value
  sql/populate_alerts_table.sql
  sql/populate_users_table.sql
Due: none

docs: add guidance in setup/deploy scripts for users to set up database
  scripts/docker-deploy.sh
  scripts/local-dev-setup.sh
Due: none

fix: change guest user id to -1 to prevent error on new user registration
  sql/populate_alerts_table.sql
  sql/populate_users_table.sql
Due: none

minor: change minimum password length from 6 to 4
  src/schemas.py
Due: .venv/bin/black

feat: improve error response on invalid registration attempt
  src/server.py
Due: .venv/bin/black

chore: implement force replace of local repo with GitHub main branch in EC2 deployment workflow
  .github/workflows/backend.yaml
Due: npm run format

chore: include JWT secret key in .env.docker generation in backend deployment workflow
  .github/workflows/backend.yaml
Due: npm run format

chore: include JWT lifetime in .env.docker generation in backend deployment workflow
  .github/workflows/backend.yaml
Due: npm run format

chore: schedule deployment workflow to run weekly
  .github/workflows/backend.yaml
Due: npm run format

Path conditions:
  npm run format: any of: **/*.{js,jsx,html,css,json,md,yaml,toml}
  .venv/bin/black: any of: **/*.py
