Repository portfolio-insights/portfolio-insights-backend: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format, .venv/bin/black

chore: add instructions for database setup and change setup instructions filename
  .infra/EC2_RDS_SETUP.md
  .infra/user_data.sh
Due: npm run format

fix: remove user_id parameter from /alerts DELETE route
  server.py
Due: .venv/bin/black

minor: rename local-dev-deploy.sh
  scripts/local-deploy.sh
Due: none

docs: remove reference to Docker deployment and clarify/reorganize production comments
  .env.example
Due: none

docs: clean up docstrings
  sql/create_alerts_table.sql
  sql/populate_alerts_table.sql
  sql/populate_users_table.sql
Due: none

chore: create separate .env.example file for Docker deployments
  .env.docker.example
Due: none

minor: fix incorrect example domain for production GO_API_URL
  .env.example
Due: none

chore: implement more rigorous Docker environment cleanup
  scripts/docker-teardown.sh
Due: none

chore: move core project files to new src directory
  Dockerfile
  scripts/local-deploy.sh
  src/alerts.py
  src/database.py
  src/logging.py
  src/schemas.py
  src/server.py
Due: .venv/bin/black

chore: install python-jose
  requirements.txt
Due: none

feat: create users.py to handle user access tokens and credentials
  src/users.py
Due: .venv/bin/black

feat: Implement schemas for use in authentication logic
  src/schemas.py
Due: .venv/bin/black

feat: implement authentication logic with JWTs
  src/server.py
Due: .venv/bin/black

feat: implement JWT expiration check
  src/users.py
Due: .venv/bin/black

refactor: simplify token payload extraction
  src/users.py
Due: .venv/bin/black

feat: add field validators to Alert model
  src/schemas.py
Due: .venv/bin/black

feat: create AlertResponse model and implement usage in server.py
  src/schemas.py
  src/server.py
Due: .venv/bin/black

feat: revert JWT configuration from .env to hard-coded values
  src/users.py
Due: .venv/bin/black

feat: implement robust error handling in /token POST route
  src/server.py
Due: .venv/bin/black

minor: rename /token POST route to /login
  src/server.py
Due: .venv/bin/black

minor: replace outdated `dict()` method with `.model_dump()`
  src/alerts.py
Due: .venv/bin/black

feat: move JWT secret key and expiration time to .env files
  .env.docker.example
  .env.example
  src/users.py
Due: .venv/bin/black

feat: remove unnecessary auth header from invalid password handler
  src/users.py
Due: .venv/bin/black

feat: add validation for new Alert expiration time
  src/schemas.py
Due: .venv/bin/black

minor: stylistic edits to logging and function docstring
  src/alerts.py
Due: .venv/bin/black

feat: implement more informative exception handling in /login POST route
  src/server.py
Due: .venv/bin/black

style: swap order of verify_credentials and create_access_token functions
  src/users.py
Due: .venv/bin/black

minor: swap order of user_id and username in get_user_from_token return
  src/users.py
Due: .venv/bin/black

feat: implement user registration logic
  src/users.py
Due: .venv/bin/black

refactor: implement usage of UserResponse in register_user()
  src/users.py
Due: .venv/bin/black

feat: design schemas for use in user registration
  src/schemas.py
Due: .venv/bin/black

feat: implement /register endpoint
  src/server.py
Due: .venv/bin/black

Path conditions:
  npm run format: any of: **/*.{js,jsx,html,css,json,md,yaml,toml}
  .venv/bin/black: any of: **/*.py
